<!DOCTYPE html>
<html>

    <head>
        <title>Jinja test</title>
    </head>

    <body>
        <h1>Register</h1>
        <p style="color: red;">
            {% if error %}
            {{ error }}
            {% endif %}
        </p>
        <form action="/register" method="post">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="verify" placeholder="Verify Password">
            <input type="submit" value="Register">
        </form>
        <p style="color: rgb(0, 31, 59);">
            {{code}}
        </p>
        <a href="/login">Login</a>
    </body>